<nav class="bicc-container">
  <div class="nav-wrapper">
    <a href="https://berlin.church" class="brand-logo" data-nc-element="branding" data-content-field="site-title">
      <img src="https://static1.squarespace.com/static/5e94bcd7b8f06c53b9adbbf1/t/5e96085cdff73c4863314cad/1588790934517/?format=1500w" alt="Berlin International Community Church" class="Header-branding-logo">
    </a>
  </div>
</nav>
