<nav class="bicc-container">
  <div class="nav-wrapper">
    <a href="/events" class="brand-logo" data-nc-element="branding" data-content-field="site-title">
      <img src="//static1.squarespace.com/static/589397498419c2f6476f2c77/t/5b28efa970a6ad0778246fc3/1539028385210/?format=1500w" alt="Berlin International Community Church" class="Header-branding-logo">
    </a>
  </div>
</nav>
