// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#event-form {
  background-color: #fff;
}

.brand-logo {
  img {
    padding-left: 0.5%;
    max-width: 10%;
  }
}

@media only screen and (max-width: 992px) {
  .brand-logo img {
    padding-left: 0;
    max-width: 100%;
  }
}
