<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
	.new-member-mail { margin-bottom: 30px; }
	.new-member-mail th { border: 1px solid gray; min-width: 150px; }
	.new-member-mail td { text-align: center }
</style>
</head>
<body>
<%= yield %>
</body>
</html>
